.about-hero {
    background-color: #014E56;
    padding-bottom: 120px;
    display: block;
    background-image: url("../images/aboutHeroBg.png");
    background-repeat: no-repeat;
    background-size: 100px 200px;
    background-position : calc(50% + 580px) bottom;
}



.about-hero__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about-hero__title {
    margin: 0;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px; 
}

.about-hero__box {
    width: 100%;
    max-width: 730px;
}

.about-hero__box::before {
    display:block;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    content: "";
    margin-bottom: 40px;
}

.about-hero__text {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
}


@media only screen and (max-width:1100px) {
    .about-hero {
        background-position : calc(50% + 305px) bottom;
    }
    
    
    
    .about-hero__inner {
        flex-direction: column;
    }
    
    .about__title-wrapper {
        width: 100%;
        max-width: 730px;
        margin: 0 auto;
    }
    .about-hero__title {
        text-align: center;
    }
    
    .about-hero__box {
        width: 100%;
        max-width: 730px;
    }
    
    .about-hero__box::before {
        display: none;
    }
    
    .about-hero__text {
        margin: 0;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px; 
        text-align: center;
    }
}

@media only screen and (max-width:800px) {
    .about-hero {
        background-position : calc(50% + 280px) bottom;
    }
    
    
    
    .about-hero__inner {
        flex-direction: column;
        margin: 0 auto;
    }
    
    .about__title-wrapper {
        width: 100%;
        max-width: 683px;
        margin: 0 auto;
    }

    .about-hero__title {
        text-align: center;
        color: #FFF;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 24px;
    }
    
    .about-hero__box {
        width: 100%;
        max-width: 457px;
        text-align: center;
        margin: 0 auto;
    }
    
    .about-hero__text {
        font-size: 15px;
        text-align: center;
}

}

@media only screen and (max-width:650px) {
    .about-hero {
        background-position : calc(50% + 250px) bottom;
    }
}

@media only screen and (max-width:576px) {
    .about-hero {
        background-image: url("../images/herobg.png");
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position : calc(50% + 200px) bottom;
}
    
    .about-hero__inner {
        flex-direction: column;
        margin: 0 auto;
    }
    
    .about__title-wrapper {
        width: 100%;
        max-width: 327px;
        margin: 0 auto;
    }

    .about-hero__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    
    .about-hero__box {
        width: 100%;
        max-width: 327px;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width:476px) {
    .about-hero {
        background-position : calc(50% + 150px) bottom;
}

}

@media only screen and (max-width:376px) {
    .about-hero {
        background-position : calc(50% + 120px) bottom;
}

}