.clients {
    background-color: #012F34;
}

.clients__title {
    color: #FFF;
    text-align: center;
    font-family: "Livvic";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}