.feedback {
    padding: 140px 0;
    background-color: #004047;
}

.feedback__title-wrapper {
    width: 100%;
    max-width: 932px;
}

.feedback__title {
    margin: 0;
    margin-bottom: 92px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; 
}

.feedback__span {
    color: #79C8C7;
}

.feedback__list {
    display: flex;
    align-items: center;
    gap:30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.feedback__item {
    width: 100%;
    max-width: 350px;
    text-align: center;
    position: relative;
}

.feedback__item::before {
    position: absolute;
    background-image: url("../images/Icon4.svg");
    background-repeat: no-repeat;
    height: 56px;
    width: 67px;
    content: "";
    top: -36px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.feedback__quote {
    position: relative;
    margin: 0;
    margin-bottom: 24px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px; 
    z-index: 3;
}

.feedback__user {
    margin: 0;
    color: #79C8C7;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; 
}

.feedback__position {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px; 
}

.feedback__item::after {
    display: inline-block;
    background-image: url("../images/author1.svg");
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    content: "";
    margin-top: 32px;
}

.feedback__item:nth-child(2):after {
    background-image: url("../images/author2.svg");
}

.feedback__item:nth-child(3):after {
    background-image: url("../images/author3.svg");
}


@media only screen and (max-width:768px) {
    .feedback {
        padding: 100px 0;
    }
    
    .feedback__title-wrapper {
        width: 100%;
        max-width: 573px;
        margin: 0 auto;
    }
    
    .feedback__title {
        font-size: 32px;
        line-height: 32px; 
        margin-bottom: 84px;
        text-align: center;
    }
    
    .feedback__list {
       flex-direction: column;
    }
    
    .feedback__item {
        width: 100%;
        max-width: 573px;
    }
    
    
    .feedback__quote {
        margin-bottom: 16px;
    }
    
    
    .feedback__item::after {
        margin-top: 16px;
        margin-bottom: 48px;
    }

    .feedback__item:nth-child(3):after{
        margin-bottom: 0;
    }
    
}

@media only screen and (max-width:576px) {
    .feedback {
        padding: 140px 0  164px;
    }
    
    .feedback__title-wrapper {
        width: 100%;
        max-width: 327px;
        margin: 0 auto;
    }
    

    
    .feedback__item {
        width: 100%;
        max-width: 327px;
    }
    
    
    .feedback__quote {
        margin-bottom: 16px;
    }
    
    
    .feedback__item::after {
        margin-top: 16px;
        margin-bottom: 48px;
    }

    .feedback__item:nth-child(3):after{
        margin-bottom: 0;
    }
    
}

