.site-header{
    background-color: #014E56;
    padding-top: 73px;
    padding-bottom: 120px;
}

.site-header__inner{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 40px;
}


.nav__link {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: color 0.6s ease;
}

.nav__link:hover {
    color: #F67E7E;;
}

.site-header__link{
    width: 153px;
    padding: 10px 0;
    margin-left: auto;
    border-radius: 24px;
    border: 2px solid #FFF;
    text-align: center;
    transition: all 0.6s ease-in;
}

.site-header__link:hover {
    color: #002529;
    background-color: #FFF;
} 


.site-header__btn {
    display: none;
    background-image: url("../images/menu.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    background-color: transparent;
    border: 0;
}

@media only screen and (max-width:768px) {
    .site-header{
        padding-top: 74px;
        padding-bottom: 124px;
    }

    .site-header__img {
        width: 96px;
        height: 24px;
    }

    .site-header__link{
        width: 100%;
        max-width: 153px;
        padding: 10px 0;
        border-radius: 24px;
        border: 2px solid #FFF;
        text-align: center;
    }

}

@media only screen and (max-width:576px) {
    .site-header{
        padding-top: 48px;
        padding-bottom: 80px;
    }

    .nav__list {
        display: none;
    }

    .site-header__link{
        display: none;
    }

    .site-header__btn {
        display: block;
        margin-left: auto;
    }

}

