.hero {
    background-color: #014E56;
    padding-bottom: 250px;
    display: flex;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    gap: 45px;
    position: relative;
}


.hero__inner::before {
    display: inline-block;
    position: absolute;
    background-image: url("../images/bG1.svg");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    content: "";
    left: -165px;
}

.hero__title-wrapper {
    max-width: 620px;
    width: 100%;
}
.hero__title {
    margin: 0;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    margin-bottom: 24px;
}

.hero__span {
    color: #F67E7E;
}

.hero__box{
    position: relative;
    width: 100%;
    max-width: 445px;
}

.hero__text {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
}

.hero__box::before {
    display: inline-block;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background-color:  #79C8C7;
    content: "";
    margin-bottom: 79px;
}

.hero__box::after {
    display: inline-block;
    position: absolute;
    background-image: url("../images/bG3.svg");
    width: 358px;
    height: 200px;
    background-repeat: no-repeat;
    content: "";
    margin-top: 150px;
    right: 0;
}

@media only screen and (max-width:1070px) {
    .hero {
        padding-bottom: 256px;
    }
    
    .hero__inner {
       flex-direction: column;
       justify-content: center;
       gap: 0;
    
    }
    
    .hero__inner::before {
        display: none;
        margin: 0;
    }
    
    .hero__title-wrapper {
        max-width: 357px;
        width: 100%;
        margin: 0 auto;
    }

    .hero__title {
        color: #FFF;
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px; 
    }

    .hero__box {
        width: 100%;
        max-width: 457px;
        margin: 0 auto;
    }    
    
    .hero__text {
        font-size: 15px;
        text-align: center;
    }
    
    .hero__box::before {
        display: none;
        margin: 0;
    }
    
    .hero__box::after {
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 156px;
    }
}


@media only screen and (max-width:576px) {
    
    .hero {
        padding-bottom: 197px;
    }
    
    
    .hero__inner::before {
        display: none;
        margin: 0;
    }
    
    .hero__title-wrapper {
        max-width: 220px;
        width: 100%;
        margin: 0 auto;
    }

    .hero__title {
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .hero__box {
        width: 100%;
        max-width: 327px;
        margin: 0 auto;
    }    
    
    .hero__text {
        font-size: 15px;
        text-align: center;
    }
    
    .hero__box::after {
        width: 300px;
        margin-top: 97px;
    }
}