.start{
    padding: 76px 0;
    background-color: #F67E7E;
    background-image: url("/images/bG4.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.start__inner {
    width: 100%;
    max-width: 917px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start__title {
    margin: 0;
    color: #012F34;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; 
}

.start__link {
    display: inline-block;
    width: 153px;
    padding: 10px 0;
    border-radius: 24px;
    border: 2px solid #012F34;
    color: #012F34;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    transition: all 0.6s ease;
}

.start__link:hover {
    color: #fff;
    background-color: #012F34;
}

@media only screen and (max-width:768px) {
    .start{
        padding: 84px 0;
    }
    
    .start__inner {
        width: 100%;
        max-width: 573px;
    }
    
    .start__title {
        font-size: 32px;
        line-height: 32px; 
    }

}

@media only screen and (max-width:576px) {
    .start{
        padding: 83px 0;
    }
    
    .start__inner {
        width: 100%;
        max-width: 327px;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .start__title {
        font-size: 32px;
        line-height: 32px; 
        margin-bottom: 24px;
        text-align: center;
    }

}