.team{
    margin: 0;
    padding: 198px 0 140px;
    background-color: #012F34;
}

.team__inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.team__title-wrapper {
    width: 100%;
    max-width: 445px;
}

.team__title-wrapper::before {
    display: block;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background-color: #F67E7E;
    content: "";
    margin-bottom: 54px;
}

.team__title {
    margin: 0;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; 
}

.team__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.team__item {
    position: relative;
    max-width: 445px;
    width: 100%;
    margin-bottom: 32px;
}

.team__item:last-child{
    margin-bottom: 0;
}

.team__item::before {
    display: inline-block;
    position: absolute;
    background-image: url("../images/Icon1.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    content: "";
    left: -90px;
}

.team__item:nth-child(2)::before{
    background-image: url("../images/Icon2.svg");
}

.team__item:nth-child(3)::before{
    background-image: url("../images/Icon3.svg");
}

.team__subtitle {
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.team__text {
    margin: 0;
    color: #FFF;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
}